.button-custom {
    padding: 10px;
    color: white;
    font-weight: bold;
    background-color: yellowgreen;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.button-custom.disabled {
    padding: 10px;
    color: white;
    font-weight: bold;
    background-color: yellowgreen;
    border: none;
    border-radius: 10px;
    cursor: not-allowed; 
    opacity: 0.4;
}